.jumbotron {
  color: #262626;
  margin-top: 50px;
  margin-bottom: 50px;
  background-image: url(../images/banner.jpg);
  border-bottom: solid 5px #c2201d;
}

footer {
  background-color: #c2201d;
  margin-top: 10px;
  margin-bottom: 0px;
  padding-top: 20px;
  padding-bottom: 0px;
  text-align: center;
  color: #c9c9c9;
}

.mb-0 {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.tab-content {
  padding-top: 10px;
  padding-bottom: 0px;
}

.tab {
  padding-top: 2em;
  padding-bottom: 6em;
  text-align: center;
  width: 75%;
}

a {
  color: #c9c9c9;
}

.foot-address-icon {
  padding-right: 10px;
}

.card-beer {
  flex: 1 250px;
  display: flex;
  justify-content: space-between;
}

.btn-reserva {
  width: 100%;
}

.item {
  margin-top: 3rem;
  margin-bottom: 0px;
  text-align: center;
}

/*# sourceMappingURL=Style.css.map */
