@yellow: #ebc065;
@red: #c2201d;
@green: #32a852;
@black: #262626;

.margenes(@top, @botton) {
    margin-top: @top;
    margin-bottom: @botton;
}
.pad(@t, @b){
    padding-top: @t;
    padding-bottom: @b;
}
.Texto(@cen, @col){
    text-align: @cen;
    color: @col;
}
.jumbotron{
    .Texto(none,@black);
    .margenes(50px, 50px);
    background-image:url(../images/banner.jpg);
    border-bottom:solid  5px @yellow;
}
footer{
    background-color:@yellow;
    .margenes(10px, 0px);
    .pad(20px, 0px);
    .Texto(center,@black); 
    
}
.mb-0{
    .Texto(center,@black);
    .pad(10px, 10px);
}
.tab-content{
    .pad(10px, 0px);
}
.tab{
    .pad(2em, 6em);
    .Texto(center,@black);
    width: 75%;
}
a{
    .Texto(none,@black);
}

.foot-address-icon{
    padding-right:10px;
}
.card-beer{
    flex: 1 250px;
    display:flex;
    justify-content: space-between;
}
.btn-reserva{
    width: 100%;
}
.item{
    .margenes(3rem, 0px);
    .Texto(center,@black);
}