.jumbotron {
  text-align: none;
  color: #080808;
  margin-top: 50px;
  margin-bottom: 50px;
  background-image: url(../images/banner.jpg);
  border-bottom: solid 5px #b0b31d;
}
footer {
  background-color: #b0b31d;
  margin-top: 10px;
  margin-bottom: 0px;
  padding-top: 20px;
  padding-bottom: 0px;
  text-align: center;
  color: #080808;
}
.mb-0 {
  text-align: center;
  color: #080808;
  padding-top: 10px;
  padding-bottom: 10px;
}
.tab-content {
  padding-top: 10px;
  padding-bottom: 0px;
}
.tab {
  padding-top: 2em;
  padding-bottom: 6em;
  text-align: center;
  color: #080808;
  width: 75%;
}
a {
  text-align: none;
  color: #080808;
}
.foot-address-icon {
  padding-right: 10px;
}
.card-beer {
  flex: 1 250px;
  display: flex;
  justify-content: space-between;
}
.btn-reserva {
  width: 100%;
}
.item {
  margin-top: 3rem;
  margin-bottom: 0px;
  text-align: center;
  color: #080808;
}
