$yellow: #ebc065;
$red: #c2201d;
$green: #32a852;
$black: #262626;
$white:#c9c9c9;

@mixin margenes($top, $botton) {
    margin-top: $top;
    margin-bottom: $botton;
}
@mixin pad($t, $b){
    padding-top: $t;
    padding-bottom: $b;
}

.jumbotron{
    color: $black;
    @include margenes(50px, 50px);
    background-image:url(../images/banner.jpg);
    border-bottom:solid  5px $red;
}
footer{
    background-color:$red;
    @include margenes(10px, 0px);
    @include pad(20px, 0px);
    text-align: center; 
    color: $white;
}
.mb-0{
    text-align: center;
    @include pad(10px, 10px);
}
.tab-content{
    @include pad(10px, 0px);
}
.tab{
    @include pad(2em, 6em);
    text-align: center;
    width: 75%;
}
a{
    color:$white;
}

.foot-address-icon{
    padding-right:10px;
}
.card-beer{
    flex: 1 250px;
    display:flex;
    justify-content: space-between;
}
.btn-reserva{
    width: 100%;
}
.item{
    @include margenes(3rem, 0px);
    text-align: center;
}